@font-face {
    font-family: strange piece;
    font-style: normal;
    font-weight: 400;
    src: local('Strange Piece'), url('https://fonts.cdnfonts.com/s/92190/Strange Piece.woff') format('woff')
}